@import "@/scss/index.scss";
.no-tasks {
  &__page {
    margin: 24px;
    max-width: 100%;
    height: 100%;
    border: 1px solid $border-color-default;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &-inner {
      text-align: center;
      margin: 0 auto;
    }
  }
  &__btn {
    margin-top: 10px;
    padding: 12px 16px;
    cursor: pointer;
    color: $font-color-secondary;
    background-color: $bg-color-primary;
    border: none;
    border-radius: 4px;
  }
  &__btn:hover {
    background-color: $bg-color-primary-hover;
  }
}
